<h1>Crea tu nota</h1>


<form action="/notes" method="POST">
	<label for = "title">Titulo:</label>
	<input type="text" name="title">
	<br>
	<label for = "text">Contenido:</label>
	<br>
	<textarea name="content" rows="10" cols="30">Escribe tu contenido</textarea>
	<br>
	<input type="submit" value="Guardar">

</form>
